.RollDice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Button {
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: grabbing;
}

.Button:hover {
  background: rgba(0, 0, 0, 0);
  color: black;
  outline: 2px solid black;
}
